@charset "UTF-8";

@font-face {
    font-family: Michland;
    src: url(fonts/Michland\ Script.otf) format(opentype);
}

@font-face {
    font-family: Montserrat;
    src: url(fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: Damion;
    src: url(fonts/Damion-Regular.ttf) format(truetype);
}

:root {
    --cor-fundo: #f7eee8;
    --marrom-escuro: #3e2925;
    --rosa: #db8e9a;
    --bege: #fff2e4;
    --branco: #fffdfc;

    --fonte-titulo: "Michland", cursive;
    --font-titulo-diverso: "Damion", cursive;
    --font-corpo: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}





/* Barra de Navegação */
.navbar{
    background-color: var(--marrom-escuro);

    border-bottom: 2px solid var(--rosa);

    display: grid;
    place-items: center;
    justify-content: center;
}

img.logotipo{
    width: 3.5rem;
    height: 3.5rem;

    border: 3px solid var(--rosa);
    border-radius: 50%;
}

.navbar-item{
    display: inline-flex;
    align-items: center;
    justify-content: center;

    list-style: none;
    margin-right: 1rem;
}

.navbar-link{
    font-family: var(--fonte-corpo);
    font-weight: 400;

    text-decoration: none;
    color: var(--branco);

    margin-right: 1.5rem;
}

.navbar-link:hover{
    color: var(--rosa);

    transition: 0.3s;
}

.navbar-link::after{
    content: "";

    background-color: var(--rosa);

    width: 0;
    height: 3px;

    display: block;
    transition: width 0.3s ease;
}

.navbar-link:hover::after{
    width: 100%;
}





/* Banner Principal */
#carouselBanner::after{
    content: "";
    background-color: #3e292594;

    position: absolute;
    inset: 0;
}

.carousel{
    width: 100%;
    height: 100vh;
}

.carousel-inner{
    width: 100%;
    height: 100%;
}

.carousel-item{
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
    width: 100%;
    height: 100%;

    transition: transform 2.5s ease-in-out;
}

.carousel-item img{
    display: none;
}

.carousel-item:nth-child(1) { background-image: url('../img/Cookie.png'); }
.carousel-item:nth-child(2) { background-image: url('../img/Brownie.png'); }
.carousel-item:nth-child(3) { background-image: url('../img/RedVelvt.png'); }
.carousel-item:nth-child(4) { background-image: url('../img/Donuts.png'); }





/* Texto Principal */
#texto-principal{
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    text-align: center;
}

#texto-principal h1, #texto-principal p, .frase-final, .linha-fina {
    opacity: 0;

    transform: translateY(30px);
    transition: opacity 1s ease, transform 1s ease;
}

#texto-principal h1, #texto-principal p, .frase-final, .linha-fina {
    &.visivel {
        opacity: 1;

        transform: translateY(0);
    }
}

#texto-principal h1{
    font-family: var(--fonte-titulo);
    font-size: 7rem;

    text-shadow: 0 2px 12px rgba(0,0,0,0.4);
    
    color: var(--rosa);
    line-height: 1;

    margin-bottom: 0.3rem;
}

#texto-principal p{
    font-family: var(--fonte-corpo);
    font-size: 1.2rem;

    text-shadow: 0 1px 6px rgba(0,0,0,0.5);

    color: var(--branco);

    margin-bottom: 0.4rem;
}

#texto-principal .frase-final{
    font-size: 0.98rem;
    font-weight: 500;

    color: var(--rosa);
    letter-spacing: 0.2em;

    margin-top: 0.8rem;
}

.linha-fina{
    background-color: var(--rosa);

    width: 30%;
    height: 1px;

    margin-inline: auto;
    margin-top: 0.5rem;
}





/* Sobre Nossos Produtos */
#sobre{
    background-color: var(--bege);

    padding: 5rem 0rem 5rem 0rem;
}

#sobre-produtos{
    font-family: var(--fonte-corpo);

    max-width: 1300px;

    color: var(--marrom-escuro);
    text-align: center;
}

div#sobre-produtos{
    background-color: var(--branco);
    border-radius: 16px;
    box-shadow: 5px 10px 10px rgba(62, 41, 37, 0.204);

    border-top: 5px solid var(--rosa);

    padding: 3rem 3.5rem;
    margin-left: 7rem;
}

#sobre-produtos h1{
    font-family: var(--font-titulo-diverso);
    font-size: 4rem;
    font-style: italic;
    font-weight: 500;

    text-align: center;
    color: var(--marrom-escuro);

    margin-bottom: 1.8rem;
}

#sobre-produtos h1::after{
    content: "";

    background-color: var(--rosa);

    display: block;

    width: 10rem;
    height: 3px;

    margin: 0.6rem auto 0;
}

#sobre-produtos p{
    font-size: 1.2rem;

    margin-bottom: 1rem;
}

.marcado-rosa{
    font-style: italic;
    font-weight: 700;

    color: var(--rosa);
}

.marcado-enfase{
    font-style: italic;
    font-weight: 800;
}



#cards-icones{
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 3rem;
    margin-top: 1.5rem;
}

.cards-icones{
    width: 12rem;
    height: 12rem;

    position: relative;
    perspective: 800px;
    cursor: pointer;
}

.card-frente{
    background: linear-gradient(135deg, #f3dbc3, #d4a882);
    border-radius: 15px;
    border: 3px solid var(--rosa);
    box-shadow: 2px 5px 3px rgba(0, 0, 0, 0.525);

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    inset: 0;

    backface-visibility: hidden;
    transition: transform 0.8s ease;
}

.card-verso{
    font-family: var(--fonte-corpo);
    font-weight: 600;
    font-size: 1rem;
    
    background: linear-gradient(135deg, #f3dbc3, #d4a882);
    border-radius: 15px;
    border: 3px solid var(--rosa);
    box-shadow: 2px 5px 3px rgba(0, 0, 0, 0.525);

    color: var(--branco);
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    inset: 0;

    padding: 1rem;

    backface-visibility: hidden;
    transform: rotateY(180deg);
    transition: transform 0.8s ease;
}

.cards-icones:hover .card-frente{
    transform: rotateY(180deg);
}

.cards-icones:hover .card-verso{
    transform: rotateY(0deg);
}

img.icone{
    width: 8rem;
    height: auto;
}





/* Cartaz */
#cartaz{
    background-image: url('../img/Cartaz.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    border-top: 3px solid var(--rosa);
    border-bottom: 3px solid var(--rosa);

    width: 100%;
    height: 300px;
}





/* Favoritos */
#favoritos{
    background-color: var(--bege);
}

#favoritos h1{
    font-family: var(--font-titulo-diverso);
    font-size: 4rem;
    font-weight: 500;

    color: var(--marrom-escuro);
    text-align: center;

    padding-top: 3rem;
}

#favoritos h1::after{
    content: "";

    background-color: var(--rosa);

    display: block;

    width: 10rem;
    height: 3px;

    margin: 0.6rem auto 1rem;
}

#favoritos p{
    font-family: var(--font-corpo);
    font-size: 1.2rem;
    font-style: italic;

    color: var(--rosa);
    text-align: center;

    margin-bottom: 2rem;
}